html {
  overflow-y: scroll;
}

.container{
  /* width: 60%; */
  /* text-align: center;  */
  /* margin: 100px auto; */
  /* new */
  width: 60%;
  margin: 100px auto;  
  /* background-color: #333;  */
  border-radius: 6px;
  /* background: white; */
  overflow: hidden;
  border: 2px solid black;
}

#warning{
  color: red;
}


#heading{
  margin: 15px;
  text-align: center;
} 

.inputIcon{
  /* width: 100%; */
  /* margin: auto; */
  /* margin-top: 90px; */
  /* margin-bottom: 10px; */
  /* text-align: center; */
  position: relative;
}

#input{
  /* width: 100%; */
  /* padding: 5px; */
  /* padding-right: 60px; */
  /* align-items: center; */
  /* width: max-content; */
  /* size: 45px; */
  /* font-size: 25px; */
  /* new */
  width: 94%;
/* display: block; */
/* text-align: center; */
/* align-items: center; */
/* align-content: center; */
/* background: transparent; */
border: 0;
outline: none;
font-size: 20px;
color: black; 
padding: 5px;
}

/* input[type="text"] {
  font-size:25px;
} */

 #icon{
  font-size: 22px;
}

.suggestionList{
  border-top: 2px solid black;
  /* width: 100%; */
  /* margin: auto; */
  /* overflow-y: scroll; */
  /* height: 200px; */
  /* scroll-behavior: smooth; */
 } 
 

.suggestionList > div{
  /* border: solid 1px black; */
  /* padding: 8px; */
  /* text-align: left; */
  /* new */
  padding: 10px;
  color: black;
  font-size: 15px;
  border-top: 1px solid rgb(214, 201, 201);
}

 .suggestionList > div:hover{
  background-color:rgb(154, 141, 230);
} 

.inputIcon > i{
  /* position: absolute; */
  /* top: 10px;
  right: 1px; */
  /* display: none; */
  /* new */
  position: absolute;
  top: 5px;
  right: 19px
}


